.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  border: 0.05em solid red;
  padding: 30px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button {
  margin: 5px;
}
